@font-face {
    font-family: "unbound";
    src: url("../fonts/Unbounded-Bold.ttf");
}

@font-face {
    font-family: "opensans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

/*algemeen*/

body {
    background-color: #F4F1E2;
    color: black;
    margin: 0;
    background-image: url('../images/background_home.jpg');
    background-size: cover;
}

h1 {
    font-family: "unbound";
    font-size: 1.8em;
    margin: 0;
}

h2 {
    font-family: "unbounded";
    font-size: 1em;
    margin: 0 0 0.4em 0;
}

p {
    font-family: "opensans";
    font-size: 0.8em;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}


/*header*/

header {
    background-color: #638A55;
    border-radius: 0 0 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

header img {
    width: 2.5em;
}

/*main*/

main {
    margin: 1em;
}

section {
    background-color: #F4F1E2;
    padding: 1em;
}

section h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 0 0.4em 0;
}

section:nth-of-type(1) {
    border-radius: 1em;
    border: 0.2em solid #638A55;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4em;
}

section:nth-of-type(2) {
    border: 0.5em solid #638A55;
    border-radius: 1em 0;
    margin-bottom: 5em;
}

section:nth-of-type(3) {
    border: 0.5em solid #638A55;
    border-radius: 0 1em;
    margin: 0 0 5em 0;
}

section:nth-of-type(3) img {
    border-radius: 0 1em;
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    bottom: 1em;
    background-color: #638A55;
    width: 22em;
    border-radius: 0 1em;
    margin: 0 1em 0 1em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav a {
    font-family: "unbounded";
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}

.hier {
    color: white;
}


/*home-pagina*/

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 1em 0;
}

.home img {
    width: 7em;
}

#hey {
    border: 0.5em solid #638A55;
    border-radius: 0 1em;
    margin: 2em 0 8em 0;
    display: flex;
    align-items: start;
    text-align: start;
}

p a {
    text-decoration: underline;
}

/*waarom-pagina*/

#waarom {
    background-image: url('../images/background_waarom.jpg');
}


/*milieu-pagina*/

#milieu {
    background-image: url('../images/background_milieu.jpg');
}

main ul {
    padding: 0;
}

main li {
    background-color: rgba(244, 241, 226, 0.8);
    padding: 1em;
    margin-bottom: 1em;
}

main li:nth-of-type(1),
main li:nth-of-type(3) {
    background-color: rgba(99, 138, 85, 0.8);
    border: 0.5em solid #638A55;
    border-radius: 0 1em;
}

main li:nth-of-type(2),
main li:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    border: 0.5em solid #638A55;
    border-radius: 1em 0;
}

main li:last-of-type {
    margin-bottom: 5em;
}